__pycache__/
.DS_Store
/dev
dev/readme.md
dev/requirements.txt
/archive
*.csv
*.parquet
 
build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
.pyclif_dev/

flameICU/

#dev
00_cohort_id.ipynb
clif_2.1.0.txt
context7.json
cohort_metadata.json

*.parquet
*.csv

# Removed old output folder references
/PHI_DATA/
PHI_DATA/
.kiro

clif_config.json
clif_config.json
/logs
/output
PHASE1_RESULTS_UPLOAD_ME/
/PHASE1_MODELS_UPLOAD_ME